.background {
  background: #dbdbdb;
  border-radius: 5px;
  padding: 10px;
}

.background.active {
  border-left: 5px solid green;
}

/************ TASK **************/
.card.task {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 150px; 
  width: 100%;
}
.task-content {
  width: 100%;
  display: block;
}
.task-content .due-date {
  font-size: 18px;
}
.task-content .due-date.pass {
  color: rgb(170, 42, 42);
}
.task-content .task-header {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}
.task-header .icon-delete {
  color: rgb(170, 42, 42);
  font-size: 26px;
}
.task-content .description {
  margin-top: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

/************ ADD TASKS **********/
.field.date-time {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.task-container {
  width: 50%;
}